<!--
		<link rel="stylesheet" href="./src/styles/sdkSampleApp.css"> 
		<link rel="stylesheet" href="./src/js/components/connection/connectionCmp.css"  
		<link rel="stylesheet" href="./src/js/components/contacts/contactsCmp.css"> 
		<link rel="stylesheet" href="./src/js/components/contacts/contactCmp.css"> 
        <link rel="stylesheet" href="./src/js/components/presence/presenceCmp.css"> 
        <link rel="stylesheet" href="./src/js/components/user/userCmp.css"> 
		<link rel="stylesheet" href="./src/js/components/conversations/conversationsCmp.css"> 
		<link rel="stylesheet" href="./src/js/components/conversations/conversationCmp.css"> 
       <link rel="stylesheet" href="./src/js/components/conversations/messageCmp.css"> 
-->
	
		<!-- Demo specific part -->
        <!--  <div ng-controller="sampleController" ng-app="sample"> -->
		<div>
			<div class="app-contacts">
				<rbx-contacts name="rbxContacts"></rbx-contacts>
			</div>

			<div class="app-user">
				<rbx-connection name="rbxConnection"></rbx-connection>
				<rbx-user name="rbxUser"></rbx-user>
				<rbx-presence name="rbxPresence"></rbx-presence>
			</div>

			<div class="app-container">
				<rbx-conversations name="rbxConversations"></rbx-conversations>
			</div>
        </div>

 	