<div class="container-fluid">

	<div class="row">
		<div class="col-sm-8">
			<rbx-controller name="rbxController"></rbx-controller>
		</div>
		<div class="col-sm-4">
			<rbx-conversations name="rbxConversations"></rbx-conversations>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<rbx-connection name="rbxConnection"></rbx-connection>
		</div>
		<div class="col-sm-2">
			<rbx-media name="rbxMedia"></rbx-media>
		</div>
		<div class="col-sm-8">
			<rbx-contact name="rbxContact"></rbx-contact>
		</div>
	</div>
</div>